#access {
  display: flex;

  .map {
    width: 50%;
    text-align: center;

    iframe {
      width: 80%;
    }
  }

  .map_md {
    display: none;
  }
  .map_sm {
    display: none;
  }

  .info {
    border-left: 5px solid #1299B0;
    padding-left: 3%;
    display: flex;
    align-items: center;

    h3 {
      margin-bottom: 8%;
    }

    table {
      tbody {
        td {
          padding-bottom: 5%;
        }
        th {
          padding-bottom: 5%;
        }
        .none {
          padding: 0;
        }
        .cell {
          padding-bottom: 2%;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #access {
    .map {
      display: none;
    }
  
    .map_md {
      display: block;
      width: 50%;
      text-align: center;

      iframe {
        width: 90%;
      }
    }

  }
}

@media screen and (max-width: 575px) {
  
  #access {
    display: block;

    .map {
      display: none;
    }
    .map_md {
      display: none;
    }

    .map_sm {
      display: block;
      text-align: center;
      margin-bottom: 10%;
      
      iframe {
        width: 95%;
      }
    }

    .info {
      margin-left: 5%;

      h3 {
        font-size: 1.8rem;
      }

      table {
        tbody {
          td {
            padding-bottom: 5%;
            font-size: 1.4rem;
          }
  
          .none {
            padding-bottom: 2%;
          }
  
          th {
            padding-bottom: 5%;
            width: 30%;
            font-size: 1.4rem;
          }
  
        }
      }
    }
  }
}