* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.6rem;
}

h2,h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

table {
  font-size: 1.6rem;
}

.nav_sm {
  display: none;
}
.header_sm {
  display: none;
}

#nav_pc {
  display: flex;
  margin-bottom: 3%;
  #logo {
    width: 25%;
    padding-left: 5%;

    img {
      width: 100%;
    }
  }
  ul {
    width: 70%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li {
      display: flex;
      width: 20%;
      text-align: center;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      &:hover {
        border-bottom: 5px solid #1299B0;
      }

      a {
        text-decoration: none;
        color: #707070;
        font-weight: bold;
        pointer-events: auto;
        

        &:hover {
          color: #F15A24;
        }
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;

  .header_info {
    width: 49.5%;

    img {
      width: 100%;
    }
  }
}

#top_contents {
  display: flex;
  justify-content: space-between;

  #information {
    width: 30%;

    h3 {
      background-color: #1299B0;
      color: white;
      width: 70%;
      padding: 3%;
    }

    p {
      font-size: 1.5rem;
    }

    .box {
      padding: 3%;
      margin: 5%;
      border-bottom: 2px solid #707070;

      h4 {
        margin-bottom: 2%;
      }

      a {
        text-decoration: none;
        list-style: none;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #pickup_md {
    display: none;
  }

  #pickup {
    width: 65%;

    img {
      width: 100%;
    }
  }
}

footer {
  background-color: #F15A24;
  padding: 2%;
  margin-top: 5%;

  p {
    color: white;
    text-align: center;
  }
}

@media screen and (max-width: 910px) {
  p,span {
    font-size: 1.4rem;
  }

  a {
    font-size: 1.4rem;
  }

  h2,h3 {
    font-size: 1.7rem;
  }

  footer {
    margin-top: 10%;
  }

  #top_contents {

  #information {
      width: 35%;

      h4,p {
       font-size: 1.4rem;
     }
  }

  #pickup_md {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;

    img {
      width: 100%;
    }
  }

  #pickup {
    display: none;
  }

 }
}

@media screen and (max-width: 800px) {
  #nav_pc {
    display: none;
  }

  .nav_sm {
    display: block;

    #logo_sm {
      display : block;
      position: fixed;
      background-color: rgba($color: #fff, $alpha: .6);
      z-index : 2;
      width : 100%;
      top: 0;
      left: 0;
      padding-top: 12px;
      padding-left: 5%;
      border-bottom: 3px solid rgba($color: #1299B0, $alpha: 0.3);

      img {
        width: 25%;
    }
    }

        /*　ハンバーガーボタン　*/
    .hamburger {
      display : block;
      position: fixed;
      z-index : 3;
      right : 13px;
      top   : 20px;
      width : 42px;
      height: 42px;
      cursor: pointer;
      text-align: center;
    }
    .hamburger span {
      display : block;
      position: absolute;
      width   : 30px;
      height  : 2px ;
      left    : 6px;
      background : #555;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition   : 0.3s ease-in-out;
      transition        : 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
      top: 10px;
    }
    .hamburger span:nth-child(2) {
      top: 20px;
    }
    .hamburger span:nth-child(3) {
      top: 30px;
    }

    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
      top : 16px;
      left: 6px;
      -webkit-transform: rotate(-45deg);
      -moz-transform   : rotate(-45deg);
      transform        : rotate(-45deg);
    }

    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
      top: 16px;
      -webkit-transform: rotate(45deg);
      -moz-transform   : rotate(45deg);
      transform        : rotate(45deg);
    }

    nav.globalMenuSp {
      position: fixed;
      z-index : 2;
      top  : 0;
      left : 0;
      color: #000;
      background: #fff;
      text-align: center;
      transform: translateX(100%);
      transition: all 0.6s;
      width: 100%;
    }

    nav.globalMenuSp ul {
      background: #fff;
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }

    nav.globalMenuSp ul li {
      list-style-type: none;
      width: 100%;
      border-bottom: 1px solid #499ead;
    }
    nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    nav.globalMenuSp ul li:hover{
      background : #ff7847;
      
    }

    nav.globalMenuSp ul li a {
      display: block;
      color: #000;
      padding: 1.2em 0;
      text-decoration :none;
      font-size: 1.6rem;

      &:hover {
        color: #fff;
      }
    }

    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      transform: translateX(0%);
    }
  }

  .header_top {
    margin-top: 10%;
  }

  .header_img {
    margin-top: 10%;
  }

}

@media screen and (max-width: 750px) {
  #top_contents #information .box {
    padding: 2%;
  }


  #top_contents #information p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 575px) {
  p {
    font-size: 1.4rem;
  }

  .header_top {
    margin: 0;
  }

  #nav_pc {
    display: none;
  }

  .nav_sm {
    display: block;

    #logo_sm {
      display : block;
      position: fixed;
      background-color: rgba($color: #fff, $alpha: .6);
      z-index : 2;
      width : 100%;
      top: 0;
      left: 0;
      padding-top: 12px;
      padding-left: 5%;
      border-bottom: 3px solid rgba($color: #1299B0, $alpha: 0.3);

      img {
        width: 40%;
    }
    }

        /*　ハンバーガーボタン　*/
    .hamburger {
      display : block;
      position: fixed;
      z-index : 3;
      right : 13px;
      top   : 12px;
      width : 42px;
      height: 42px;
      cursor: pointer;
      text-align: center;
    }
    .hamburger span {
      display : block;
      position: absolute;
      width   : 30px;
      height  : 2px ;
      left    : 6px;
      background : #555;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition   : 0.3s ease-in-out;
      transition        : 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
      top: 10px;
    }
    .hamburger span:nth-child(2) {
      top: 20px;
    }
    .hamburger span:nth-child(3) {
      top: 30px;
    }

    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
      top : 16px;
      left: 6px;
      -webkit-transform: rotate(-45deg);
      -moz-transform   : rotate(-45deg);
      transform        : rotate(-45deg);
    }

    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
      top: 16px;
      -webkit-transform: rotate(45deg);
      -moz-transform   : rotate(45deg);
      transform        : rotate(45deg);
    }

    nav.globalMenuSp {
      position: fixed;
      z-index : 2;
      top  : 0;
      left : 0;
      color: #000;
      background: #fff;
      text-align: center;
      transform: translateX(100%);
      transition: all 0.6s;
      width: 100%;
    }

    nav.globalMenuSp ul {
      background: #fff;
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }

    nav.globalMenuSp ul li {
      list-style-type: none;
      width: 100%;
      border-bottom: 1px solid #499ead;
    }
    nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    nav.globalMenuSp ul li:hover{
      background : #ff7847;
      
    }

    nav.globalMenuSp ul li a {
      display: block;
      color: #000;
      padding: 1em 0;
      text-decoration :none;

      &:hover {
        color: #fff;
      }
    }

    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      transform: translateX(0%);
    }
  }

  .header_info {
    display: none;
  }

  .header_sm {
    display: block;
    
  }



  #top_contents {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;

    #information {
      width: 90%;
      margin: 0 auto;

      h3 {
        margin: 0 auto;
        text-align: center;
      }

      h4 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    #pickup_md {
      display: none;
    }

    #pickup {
      display: block;
      width: 100%;
      margin-bottom: 10%;
    }
  }

  footer {
    margin-top: 15%;

    p {
      padding: 3%;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 376px) {
  #top_contents #information .box {
    margin-left: 8%;
    margin-right: 8%;
  }
  #top_contents #information p {
    font-size: 1.4rem;
  }
  #top_contents #information h4 {
    font-size: 1.4rem;
  }

  footer {
    margin-top: 15%;

    p {
      padding: 3%;
      font-size: 1rem;
    }
  }

}